/* 

CSS File

*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Lato" , sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #777;   
}

.header {
    height: 100vh;
    background-image: linear-gradient(to right bottom, #000000a1,#000000d8), url(../img/bkg_img.jpg); /*Background image with color gradient */
    background-size: cover; /*This will cover the entire area*/
    background-position: top;  /*In case of resize the specified side will be fixed*/
    position: relative;
}

.logo-box {
    position: absolute;
    top: 40px;
    left: 40px;
}

.logo {
    height: 35px,
}

.main-header-div {
    position: absolute;
    top: 5%;
    left:50%;
    transform: translate(-50% , 0%);
}

.main-header {
    font-weight: 400;
    size: 100px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 10px;
    margin: 5px;
    padding: 5px;
}

.header-content-container {
    position: absolute;
    top:30%;
    left:400px;
    width:1200px;
    margin-right: auto;
    margin-left: auto;
}

ol {
    margin: 3px;
    padding: 10px;
    list-style-type: none;
    width: auto;
}

 li {
    display: inline-block;
    margin: 5px 15px 5px 15px;
    width: 200px;
    text-align:center;
    border: 1px solid #fff;
    border-radius: 5px;
 }

 ol:hover {
    border-color: rgb(22, 156, 112);
 }

 li a {
     font-family: 'Courier New', Courier, monospace;
     font-weight: 900px;
     letter-spacing: 8px;
     color: #fff;
     font-size: 22px;
     text-decoration: none;
     text-transform: uppercase;
     display: block; 
 }

 a:hover {
     background-color: whitesmoke;
     color: black;
 }

 /* Style for Blog Post */

